/* Font Awesome */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,400&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,700;0,900;1,500&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@500;700;900&display=swap");

/* General  Style */
body {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

.section {
  background-color: #f2f2fc;
  min-height: 100vh;
  display: block;
  padding: 0 30px;
}

.main-content {
  padding-left: 270px;
}

.container {
  max-width: 1100px;
  margin: auto;
  width: 100%;
}

.shadow-dark {
  -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
  box-shadow: 0 0 20px rgba(48,46, 77, 0.15);
}
/* Aside */
.aside {
  width: 270px;
  background-color: #fdf9ff;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  border-right: 1px solid #e8dfec;
  padding: 30px;
}

.aside .logo {
  padding: 30px 0;
}
.aside .logo a {
  font-size: 40px;
  color: #302e4d;
  font-family: "Bitter", serif;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 0 10px;
  line-height: 50px;
}
.aside .logo a::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.aside .logo a::after {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.aside .nav-toggler {
  height: 40px;
  width: 40px;
  border: 1px solid #d4d4e3;
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 30px;
  z-index: 11;
  border-radius: 5px;
  background-color: #fdf9ff;
  /*   display: -ms-flexbox;
  display: flex; */
  display: none;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.aside .nav-toggler span {
  height: 2px;
  width: 18px;
  display: inline-block;
  position: relative;
}

.aside .nav-toggler span::before {
  content: "";
  height: 2.5px;
  width: 18px;
  position: absolute;
  top: -6px;
  left: 0;
}

.aside .nav-toggler span::after {
  content: "";
  height: 2.5px;
  width: 18px;
  position: absolute;
  top: 6px;
  left: 0;
}

.aside .nav {
  list-style: none;
  margin: 80px 0;
  padding: 0;
}
.aside .nav li {
  display: block;
}
.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  color: #302e4d;
  text-decoration: none;
  line-height: 45px;
  display: block;
  border-bottom: 1px solid #ededed;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: capitalize;
}
.aside .nav li a:not(.active):hover {
  padding-left: 5px;
}
.aside .nav li a .fa {
  margin-right: 5px;
}
.aside .copyright-text {
  font-size: 13px;
  color: #7d7d7d;
}

/* Home */

.home {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
}

.home .intro {
  text-align: center;
}
.home .intro img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  border: 8px solid #fff;
}
.home .intro h1 {
  font-size: 30px;
  color: #302e4d;
  font-family: "Bitter", serif;
  font-weight: 700;
  margin: 20px 0 5px;
}

.home .intro p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 22px;
  color: #504e70;
}

.home .intro .social-links {
  margin-top: 25px;
}
.home .intro .social-links a {
  height: 35px;
  width: 35px;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  color: #ffffff;
  margin: 0 4px;
  border-radius: 50%;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  
}
.home .intro .social-links a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
